# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'], format='%Y-%m-%d')

In [6]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [ ]:
# Drop the date column
# -- not needed

### Compare June and December data across all years

In [31]:
from scipy import stats
import numpy as np

In [18]:
# Filter data for desired months
df_june=df[df.index.month==6]
df_december=df[df.index.month==12]

In [19]:
# Identify the average temperature for June
df_june['tobs'].agg(['mean', 'median','var','std','sem'])

mean      74.944118
median    75.000000
var       10.610766
std        3.257417
sem        0.079004
Name: tobs, dtype: float64

In [20]:
# Identify the average temperature for December
df_december['tobs'].agg(['mean', 'median','var','std','sem'])

mean      71.041529
median    71.000000
var       14.031915
std        3.745920
sem        0.096176
Name: tobs, dtype: float64

In [33]:
# Create collections of temperature data
december_tcol=np.array(df_december['tobs'])
june_tcol=np.array(df_june['tobs'])

In [52]:
len(df_june['tobs']), len(df_december['tobs'])

(1700, 1517)

In [53]:
# Run un-paired t-test because number of elements in December array 
# is different from the one in June array
stats.ttest_ind(df_june['tobs'],df_december['tobs'])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

P-value is very small compared to 0.05 thus rejecting the null hypothesis. That means that there is a observable statistical difference between June and December temperatures.